*{
    box-sizing: border-box;
    font-family: Arial;
}
body{
   margin: 0;
   padding: 0;
}
h1{
    font-size: 0px;
}
/*Basicamente, fiz a div container ficar alinhada no meio*/
header{
    display: flex;
    justify-content: center;
    height: 120px;
   
}
.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
}
.container .logo{
    display: flex; /*Digo que todo o conteúdo dentro da div logo está sujeito ao flexbox(img é um contéudo)*/
    align-items: center;  
}
.menu{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    /*Essa tag transforma tudo em maiusculo.*/
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}
nav .espaco{
    margin-right: 110px;
}
nav a:hover, nav .ativo{
    background-color:#39aae1 ;
    color: white;
    transition: 1.5s;
}
#banner{
    display: flex;
    justify-content: center;
    background-image: url("../images/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column{
    display: flex;
    flex-direction: column;
}
/*flex:1; diz que a div pode crescer proporcionalmente ao tamanho disponível;*/
.banner-options{
    height: 210px;
    flex-direction: row;
    display: flex;
    color: white;
}
.banner-options .banner1, .banner2, .banner3{
    flex: 1;
    padding: 20px;
}
.banner-options  a{
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
    font-size: 12px;
    color: white;
    text-decoration: none;
}
.banner-options a:hover{
    transition: 1.5s;
    color: blue;
}
.banner1{
    background-color: #39aae1;
}
.banner1 h1{
    text-align: center;

}
.banner2{
background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}
.banner3 .hours{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    font-size: 13px;
}
.banner-headline{
    flex: 1;
    align-content: center;
}
.banner-headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px black;
    max-width: 350px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.banner-headline h2{
    font-size:21px;
    color: white;
    max-width: 350px;
    flex-wrap: wrap;
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;

}
.widget_title_text{
    color: black;
    font-size: 21px;
    font: bold;
}
.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
    margin-bottom: 10px;
}
.widget_body{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.square{
    width: 155px;
    height: 155px;
    background-color: #39aae1;
}
.widget_text{
    font-size: 14px;
    border-bottom: 1px solid gray;
    padding-bottom: 25px;
}


address .address{
    font-size: 13px;
    border-bottom: 1px solid #a7acb8;
    padding-bottom: 20px;
    margin-top: 20px;
    color: black;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;
    margin-right: 20px;
    min-width: 300px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color: #2b4c99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments {
    background-color: #39aae1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail {
    margin-top: 30px;
}
article .news_thumbnail img{
    width: 100%;
    height: auto;
}
article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;
}
article .news_resume {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    padding-bottom: 30px;
}
footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
footer h1{
    font-size: 22px;
}
footer .footer_menu{
    display: flex;
    flex: 1;
}
footer .fm1 , .fm2, .fm3{
    flex: 1;
    color: white;
    padding: 20px;
    padding-left: 30px;
}
footer .fm1{
    background-color: #39aae1;
}
footer .fm2{
background-color: #0079c7;
}
footer .fm3{
    background-color:#2b4c99 ;
}
.footer_area{
    display: flex;
}
.flexdirection{
    flex-direction: column;
}
.footer_areaitem{
    flex: 1;
    color: white;
}
footer .widget_text{
    font-size: 14px;
    border-bottom: 1px solid #1e1e1e ;
    padding-bottom: 25px;
}

footer .widget_title_text{
    color: white;
}
.footer_copy{
    border: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}
address .address_back{
    font-size: 13px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: black;
}
.footer_address {
    margin-right: 40px;
    font-size: 14px;
    color: grey;
    flex: 1;
}

.footer_number {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}
.footer_numberFormat {
    color: grey;
    
}
footer .text_news{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
footer .text_number{
    font-size: 12px;
    color: #36a9e1;
    font-weight: bold;
    margin-bottom: 25px;
}
footer .text_news .widget_text{
    padding-bottom: 8px;
}
footer .widget_text{
    padding-right: 30px;
}
footer .footer_areaitem{
    padding-right: 20px;
}
    .Mobilemenu{
        display: none;
        width: 40px;
        height: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-right: 40px;
    }
.menu_mobile_line{
    height: 3px;
    background-color: #39aae1;
}
@media (max-width:600px){
.banner-headline{
    padding: 20px;
}
    .banner-headline h1{
        font-size: 55px;
    }
    .banner-headline h2{
        font-size:15px;
    }
    .banner-options{
        height: auto;
        flex-direction: column;
    }
    #geral {
        margin-top: 100px;
    }
    .container{
        flex-direction: column;
    }
    #geral section, #geral aside{
        padding: 20px;
    }
    footer .footer_menu{
        flex-direction: column;
    }
    address{
        width: auto;
    }
    footer .footer_area{
        flex-direction: column;
        padding: 30px;
    }
    footer .footer_copy{
        padding-left: 20px;
    }
    header .container{
        flex-direction: row;
    }
    header{
        height: auto;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        background-color: white;
        width: 100%;
        left: 0;
    }
    .Mobilemenu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .logo{
        margin-left: 20px;
    }

}